@import "nullstyle";
@import "vars";
@import "header";
@import "footer";
@import "HomeView/hero";
@import "HomeView/arrival";
@import "HomeView/capsul";
@import "CatalogView/catalog";
@import "ProductView/product";
@import "OrderView/order";
@import "AccountView/account";
@import "HelpView/help";
@import "CollectionsView/collections";
@import "CollectionsView/collection";
@import "ContactsView/contacts";
@import "03.10";


body {
   font-family: 'Inter', sans-serif;
   -ms-overflow-style: none;
   overflow: -moz-scrollbars-none;

   &::-webkit-scrollbar {
      width: 0;
   }

   &.lock {
      overflow: hidden;
      touch-action: none;
      -ms-touch-action: none;
      -webkit-overflow-scrolling: touch;
   }
}

.wrapper {
   min-height: 100%;
   display: flex;
   flex-direction: column;
}

.main {
   flex: 1;
}

.header-backdrop {
   position: absolute;
   top: 100%;
   left: 0;
   width: 100%;
   height: calc(100vh - 80px);
   background: rgba(47, 77, 66, 0.10);
   backdrop-filter: blur(6.5px);
   opacity: 0;
   transition: 0.3s;
   pointer-events: none;
   z-index: 0;

   &.active {
      opacity: 1;
      pointer-events: all;
   }

   @media(max-width: 768px) {
      display: none;
   }
}

.product-guide__backdrop,
.order-pickup__backdrop {
   position: fixed;
   top: 80px;
   left: 0;
   width: 100%;
   height: calc(100vh - 80px);
   background: rgba(47, 77, 66, 0.10);
   backdrop-filter: blur(6.5px);
   opacity: 0;
   transition: 0.3s;
   pointer-events: none;
   z-index: 2;

   &.active {
      opacity: 1;
      pointer-events: all;
   }

   @media(max-width: 768px) {
      display: none;
   }
}

.wrapper {
   background-color: #F5F5F5;
}

.container {
   max-width: 1512px;
   padding: 0 32px;
   margin: 0 auto;

   @media(max-width: 992px) {
      padding: 0 16px;
      max-width: unset;
   }
}

.main {
   padding-top: 80px;

   @media(max-width: 768px) {
      padding-top: 52px;
   }
}

.title {
   color: $black;
   font-size: 24px;
   font-weight: 300;

   @media(max-width: 992px) {
      font-size: 16px;
   }
}

.body-text {
   color: $black;
   font-size: 16px;
   line-height: 130%;
   font-weight: 300;

   @media(max-width: 992px) {
      font-size: 12px;
   }
}

.home {
   &__link {
      padding: 16px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-radius: 8px;
      background: rgba(245, 245, 245, 0.22);
      backdrop-filter: blur(45px);
      color: $white;
      position: absolute;
      left: 32px;
      bottom: 32px;
      transition: 0.3s;

      &:hover {
         opacity: 0.88;
      }

      span {
         color: $white;
      }
   }
}

.broadcrumbs {
   display: flex;
   gap: 8px;

   &__link {
      color: $grey;
      display: flex;
      align-items: center;
      gap: 8px;

      &::after {
         content: "";
         width: 8px;
         height: 8px;
         border-radius: 50%;
         background-color: $grey4;
      }
   }

   li:last-child {
      .broadcrumbs__link {
         color: $black;

         &::after {
            display: none;
         }
      }
   }

   @media(max-width: 650px) {
      &__link {
         font-size: 10px;
      }
   }

   @media(max-width: 375px) {
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      width: calc(275px + 55 * ((100vw - 320px) / (375 - 320)));
   }
}

.collapse:not(.collapse_show) {
   display: none;
}

.collapse {
   &.active {
      display: block;
   }
}

.close-btn {
   width: 32px;
   height: 32px;
   flex: 0 0 32px;
   display: flex;
   align-items: center;
   justify-content: center;
   border-radius: 8px;
   border: 1px solid $grey3;
   cursor: pointer;
}


.MY-LIST {
   padding-top: 32px;
   display: flex;
   flex-direction: column;
   gap: 12px;

   a {
      transition: 0.3s;

      &:hover {
         color: $green1;
      }
   }
}