$black: #1B1A19;
$grey: #8C8C8C;
$grey1: #F5F5F5;
$grey2: #E0E0E0;
$grey3: #D7D7D7;
$grey4: #C6C6C6;
$green1: #067960;
$green3: #BEE7D8;
$green4: #F0F9F6;
$green5: #177C58;
$white: #fff;
$errorOrange: #F99760;
$errorRed : #DB1C4A;