.help-nav {
   flex: 0 0 30%;

   &__item {
      color: $grey !important;
      transition: 0.3s;
      cursor: pointer;

      &:hover {
         color: $black !important;
      }

      &.active {
         color: $black !important;
      }
   }

   @media(max-width: 768px) {
      &__item {
         padding: 16px 0;
         position: relative;
         white-space: nowrap;

         &::after {
            content: "";
            position: absolute;
            bottom: 0px;
            left: 0;
            width: 100%;
            height: 1px;
            background-color: transparent;
            transition: 0.3s;
            z-index: 1;
         }

         &.active {
            &::after {
               background-color: $black;
            }
         }
      }
   }

   @media(max-width: 624px) {
      &__menu {
         &::after {
            width: 624px;
         }
      }
   }
}

.help {
   &__wrapper {
      padding: 100px;
   }

   @media(max-width: 992px) {
      &__wrapper {
         padding: 48px;
      }
   }

   @media(max-width: 768px) {
      &__wrapper {
         padding: 16px;
      }
   }
}

.help-tab {
   display: none;

   &.active {
      display: block;
   }
}

.help-tab {

   &__wrapper {
      display: flex;
      flex-direction: column;
      gap: 16px;
      max-width: 802px;
   }

   &__title {
      padding-bottom: 16px;
      border-bottom: 1px solid $grey3;
   }

   &__content {}

   &__list {
      display: flex;
      flex-direction: column;
      gap: 24px;
   }

   &__text {
      display: flex;
      flex-direction: column;
      gap: 16px;

      span {
         color: rgba($color: #000000, $alpha: 0.4);
      }

      @media(max-width: 768px) {
         gap: 8px;
      }
   }

}

.help-accordion {
   border-bottom: 1px solid $grey3;
   padding-bottom: 23px;

   &__header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      cursor: pointer;
      transition: 0.3s;

      &.active {
         margin-bottom: 16px;

         .help-accordion {
            &__btn {
               .hidden {
                  transform: rotateZ(90deg);
               }
            }
         }
      }
   }

   &__btn {
      .hidden {
         transition: 0.3s;
         transform-origin: center;
      }
   }

   &__content {
      // padding-top: 16px;
   }

   @media(max-width: 768px) {
      padding-bottom: 16px;
   }
}