.auth-modal {
   // .auth-modal__main
   .breadcrumbs__list {
      height: 78px;
   }
   &__main {
      display: flex;
      flex-direction: column;
      gap: 28px;
   }
   &__subtitle {
      @include subtitle;
   }
   // .auth-modal__form
   &__text {
      @include p;
   }
   &__form {
      display: flex;
      flex-direction: column;
      gap: 8px;
      @media (max-width: $tablet) {
         gap: 28px;
      }
   }

   // .auth-modal__check

   &__check {
      a {
         color: $black;
         border-bottom: 1px solid $black;
      }
   }

   // .auth-modal__footer

   &__footer {
      display: flex;
      flex-direction: column;
      gap: 8px;
      .btn {
         height: 32px;
         flex: 0 0 32px;
      }
      .save {
         border-color: $black;
      }
      .exit {
         color: $dark-grey;
         border-color: $dark-grey;
      }
   }
}
