.header {
   // .header__wrapper
   position: fixed;
   top: 0;
   left: 0;
   right: 0;
   z-index: 100;
   background-color: $white;
   &__wrapper {
      display: flex;
      align-items: flex-end;
      gap: 40px;
      padding: 20px 0;
      height: 70px;
   }

   // .header__logo

   &__logo {
      flex: 0 0 112px;
      img {
         width: 100%;
         height: 100%;
         object-fit: cover;
      }
   }

   // .header__links
   &__menu {
      flex: 1;
      @media (max-width: $tablet) {
         overflow-y: auto;
         overflow-x: hidden !important;
      }
      .breadcrumbs {
         display: none;
      }
      .header__icons {
         display: none;
      }
   }
   &__links {
      display: flex;
      // gap: 40px;
      li:first-child a {
         padding-left: 0;
      }
      li:last-child a {
         padding-right: 0;
      }
      @media (max-width: $tablet) {
         padding-bottom: 32px !important;
      }
   }
   &__link {
      @include h1;
      padding: 0 20px;
      white-space: nowrap;
   }
   // .header__icons

   &__icons {
      transition: $transition;
      display: flex;
      gap: 20px;
      @media (max-width: $tablet) {
         gap: 28px !important;
         padding-top: 32px !important;
      }
   }

   // .header__cart

   &__cart {
      position: relative;
      svg {
         width: 24px;
         height: 24px;
      }
      span {
         position: absolute;
         bottom: 6px;
         left: 50%;
         translate: -50% 0;
         font-family: $font-play;
         font-size: 10px;
         color: black;
         @media (max-width: $tablet) {
            bottom: 1px;
            font-size: 8px;
         }
      }
      margin-left: 20px;
   }
   &__burger {
      display: none;
   }
   &__modal {
      overflow: hidden;
      position: fixed;
      z-index: 4;
      top: 70px;
      left: 0;
      right: 0;
      background-color: $white;
      border-top: 1px solid $light-grey;
      transition: $transition;
      translate: 0 -100%;

      &.show {
         translate: 0 0;
      }
      @media (max-width: $tablet) {
         display: none;
      }
   }
   @media (max-width: 1440px) {
      &__wrapper {
         gap: calc(24px + 16 * ((100vw - 1024px) / (1440 - 1024)));
      }
      &__link {
         padding: 0 calc(12px + 8 * ((100vw - 1024px) / (1440 - 1024)));
         font-size: calc(12px + 2 * ((100vw - 1024px) / (1440 - 1024)));
      }
   }
   @media (max-width: $tablet) {
      &.menu-open {
         .header {
            &__menu {
               translate: 0 0;
            }
         }
         .header__icons {
            opacity: 0;
            pointer-events: none;
         }
      }
      &__logo {
         width: 90px;
         flex: 0 0 90px;
      }
      &__menu {
         position: fixed;
         top: 40px;
         left: 0;
         right: 0;
         bottom: 0;
         translate: 100%;
         transition: $transition;
         padding: 0 20px;
         background-color: $white;
         .breadcrumbs {
            display: block;
            &__list {
               padding: 0;
            }
         }
         .header__icons {
            opacity: 1 !important;
            pointer-events: all !important;
            display: flex;
            flex-direction: column;
            gap: 12px;
            padding: 20px 0;
            li a {
               display: flex;
               gap: 12px;
               align-items: center;
               @include h3-mobile;
            }
            li:last-child {
               display: flex;
            }
         }
      }
      &__wrapper {
         padding: 8px 0;
         gap: 16px;
         height: 40px;
      }
      &__icons {
         flex: 1;
         justify-content: flex-end;
         gap: 16px;
         li {
            height: 16px;
            a {
               height: 16px;
               font-size: 10px;
               font-weight: 400;
               line-height: 15px;
               letter-spacing: 0.06em;
            }
         }
         li:last-child {
            display: none;
         }
      }
      &__cart {
         margin-left: 0;
         width: 16px;
         height: 16px;
         flex: 0 0 16px;
         svg {
            width: 100%;
            height: 100%;
         }
      }
      &__burger {
         display: block;
         position: relative;
         width: 16px;
         height: 16px;
         flex: 0 0 16px;
         &::before,
         &::after,
         span {
            content: "";
            display: block;
            width: 100%;
            height: 1px;
            background-color: $black;
            position: absolute;
            left: 0;
            transition: $transition;
            transform-origin: center;
         }
         &::before {
            top: 2px;
         }
         span {
            top: 50%;
            translate: 0 -50%;
         }
         &::after {
            bottom: 2px;
         }
         &.active {
            span {
               scale: 0;
            }
            &::before {
               rotate: 45deg;
               translate: 0 6px;
            }
            &::after {
               rotate: -45deg;
               translate: 0px -5px;
            }
         }
      }
      &__links {
         flex-direction: column;
         gap: 28px;
      }
      &__link {
         padding: 0;
         @include h3-mobile;
      }
      .breadcrumbs__list {
         height: 79px;
      }
   }
}

.header-assort {
   width: 100%;
   display: none;
   transition: $transition;
   &.active {
      display: flex;
   }
   &.anim {
      .header-assort {
         &__main {
            opacity: 1;
            translate: 0;
         }
         &__image {
            translate: 0;
         }
      }
   }
   &__main {
      flex: 1;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      opacity: 0;
      translate: 0 20px;
      transition: $transition;

      ul {
         padding-top: 20px;
         display: flex;
         flex-direction: column;
         gap: 10px;
         padding-left: 40px;
         a {
            @include h3;
            color: $dark-grey !important;
            transition: $transition;
            @media (hover: hover) {
               &:hover {
                  color: $black !important;
               }
            }
            &:active {
               color: $black !important;
            }
         }
         &:nth-child(2) {
            border-left: 1px solid $light-grey;
         }
      }
   }
   &__image {
      flex: 0 0 480px;
      translate: 0 100%;
      transition: $transition;
      @media (max-width: 1440px) {
         flex: 0 0 calc(300px + 180 * ((100vw - 1024px) / (1440 - 1024)));
      }
      &.border {
         border-left: 1px solid $light-grey;
      }
      img {
         width: 100%;
         height: 100%;
         object-fit: cover;
      }
   }
   // display: none;
}

[data-assort] {
   position: relative;
   &::after {
      content: "";
      display: block;
      position: absolute;
      width: 100%;
      height: 25px;
      top: 100%;
      left: 0;
      @media (max-width: $tablet) {
         display: none;
      }
   }
}
.header-menu {
   display: none;
   @media (max-width: $tablet) {
      display: block;
   }
   position: fixed;
   z-index: 101;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   padding-left: 20px;
   background-color: white;
   overflow-y: auto;
   overflow-x: hidden;
   translate: 100% 0;
   transition: $transition;
   &.active {
      translate: 0 0;
   }
}

.header-back {
   &::before {
      content: "<";
   }
}
.header:has(.header-menu.active) .header__menu {
   overflow: hidden !important;
}
