.cart-item {
   display: flex;
   gap: 10px;
   padding: 12px 0;
   border-bottom: 1px solid $light-grey;
   // .cart-item__image

   &__image {
      flex: 0 0 90px;
      height: 170px;
      img {
         width: 100%;
         height: 100%;
         object-fit: cover;
      }
   }

   // .cart-item__main

   &__main {
      flex: 1;
      display: flex;
      justify-content: space-between;
   }

   // .cart-item__left

   &__left {
      display: flex;
      flex-direction: column;
   }

   // .cart-item__info

   &__info {
      flex: 1;
      display: flex;
      flex-direction: column;
   }

   // .cart-item__name

   &__name {
      @include p;
   }

   // .cart-item__size

   &__size {
      @include overline;
      font-size: 10px;
   }

   // .cart-item__count

   &__count {
      display: flex;
      align-items: center;
      gap: 15px;
      @include overline;
      font-size: 12px;
      button {
         height: 6px;
         display: flex;
         align-items: center;
         justify-content: center;
      }
      button.minus {
         // translate: 0 -2px;
      }
      button.plus {
         // translate: 0 -1px;
      }
   }

   // .cart-item__right

   &__right {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-end;
   }

   // .cart-item__price

   &__price {
      display: flex;
      align-items: center;
      gap: 8px;
      white-space: nowrap;
      // justify-content: end;
      flex-wrap: wrap;
      row-gap: 0;
      .old {
         @include strike-p;
         font-size: 12px;
      }
      .actual {
         @include p;
         font-size: 12px;
      }
   }

   // .cart-item__remove

   &__remove {
      @include overline;
      color: $dark-grey;
      font-size: 10px;
   }
   @media (max-width: $tablet) {
      gap: 8px;
      padding: 8px 0;
      &__image {
      }
      &__info {
         gap: 8px;
      }
      &__price {
         .actual {
            // @include p-mobile;
            // font-size: 10px;
         }
         .old {
            // @include strike-p-mobile;
            // font-size: 10px;
         }
      }
   }
}
.product-card {
   display: flex;
   flex-direction: column;
   // .product-card__image

   &__image {
      position: relative;
      img {
         width: 100%;
         height: 100%;
         object-fit: cover;
      }
   }

   // .product-card__sale

   &__sale {
      position: absolute;
      top: 10px;
      left: 10px;
      @include p;
   }
   &__banners {
      position: absolute;
      top: 10px;
      left: 10px;
      display: flex;
      gap: 10px;
      li {
         display: flex;
         align-items: center;
         justify-content: center;
         @include p;
         color: $dark-grey;
         background-color: #e8e8e8;
         padding: 0 4px;
      }
      @media (max-width: $mobile) {
         gap: 8px;
         top: 12px;
         left: 8px;
         li {
            @include overline-mobile;
         }
      }
   }
   &__colors {
      position: absolute;
      left: 10px;
      bottom: 20px;
      display: flex;
      gap: 20px;
      align-items: flex-start;
      button {
         display: block;
         width: 10px;
         height: 10px;
         flex: 0 0 10px;
      }
      @media (max-width: $mobile) {
         left: 8px;
         bottom: 12px;
         gap: 8px;
         button {
            width: 8px;
            height: 8px;
            flex: 0 0 8px;
         }
      }
   }
   // .product-card__main

   &__main {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 10px;
      gap: 16px;
      margin-top: 10px;
   }

   // .product-card__info

   &__info {
      display: flex;
      flex-direction: column;
   }

   // .product-card__name

   &__name {
      @include p;
      text-transform: unset;
   }

   // .product-card__price

   &__price {
   }

   // .product-card__buy

   &__buy {
   }
   @media (max-width: $tablet) {
      &__sale {
         @include p-mobile;
      }
      &__buy {
         svg {
            width: 16px;
            height: 16px;
         }
      }
   }
}
