.product-content {

   &__header {
      padding: 24px 0;
      margin-bottom: 30px;
   }

   &__main {
      // display: flex;
      // gap: 40px;
      justify-content: space-between;
      padding-right: calc((100% - 1448px) / 2);
      display: grid;
      grid-template-columns: 1fr auto;
      grid-column-gap: 40px;
   }

   &__zoomed {
      // display: none;
      max-width: 100%;
      min-width: 0;
      position: fixed;
      top: 81px;
      left: 0;
      width: 100%;
      height: 100vh;
      overflow-y: auto;
      z-index: 1;
      background-color: $white;
      transition: 0.3s;
      opacity: 0;
      pointer-events: none;
      -ms-overflow-style: none;
      overflow: -moz-scrollbars-none;

      &::-webkit-scrollbar {
         width: 0;
      }

      @media(max-width: 768px) {
         top: 52px;
         height: calc(100dvh - 52px);
         overflow-y: unset;
      }

      &.active {
         pointer-events: all;
         opacity: 1;
      }

      .slider-zoomed__close {
         // position: absolute;
         // top: 20px;
         // right: 20px;
         position: fixed;
         top: calc(81px + 20px);
         right: 20px;
         z-index: 1;
         background-color: $white;

         @media(max-width: 768px) {
            top: calc(52px + 20px);
         }
      }

      .swiper {
         cursor: pointer;

         @media(max-width: 768px) {
            height: 100%;
         }
      }

      .swiper-wrapper {}

      .swiper-slide {

         img {
            width: 100%;
            height: 100%;
            object-fit: cover;
         }
      }

      .swiper-btn-next_zoomed,
      .swiper-btn-prev_zoomed {
         position: fixed;
         top: 50%;
         transform: translateY(-50%);

         &::after {
            font-size: 0;
         }
      }

      .swiper-btn-prev_zoomed {
         left: 40px;
      }

      .swiper-btn-next_zoomed {
         right: 40px;
      }
   }

   &__slider {
      // display: none;
      max-width: 100%;
      position: relative;
      min-width: 0;
      // max-height: 450px; // was 500
      z-index: 0;
      cursor: pointer;

      @media(max-width: 768px) {
         // max-height: 450px;
      }

      @media(max-width: 450px) {
         max-height: 450px;
      }

      .swiper-wrapper {}

      .swiper-slide {
         overflow: hidden;

         img {
            width: 100%;
            height: 100%;
            // object-fit: contain; // was cover
            object-fit: cover;
         }
      }

      .swiper-pagination {
         bottom: 15px;
      }

      .swiper-pagination-bullet {
         width: 6px;
         height: 6px;
         background-color: rgba($color: #FFFFFF, $alpha: 0.7);
         opacity: unset;
      }

      .swiper-pagination-bullet.swiper-pagination-bullet-active {
         background-color: #067960;
      }
   }

   &__image {
      img {
         width: 100%;
         height: 100%;
         object-fit: cover;
      }

      &_second {}

      &_last {
         grid-row: 3;
      }
   }

   @media(max-width: 1512px) {
      &__main {
         padding-right: 32px;
      }
   }

   @media(max-width: 768px) {

      &__image {
         display: none;
      }

      &__header {
         margin: 0;
         padding: 16px 0;
      }

      &__main {
         padding: 0;
         grid-template-columns: 1fr;
      }

      &__image {
         height: calc(500px + 200 * ((100vw - 375px) / (768 - 375)));
      }
   }

   @media(max-width: 375px) {
      &__image {
         height: 500px;
      }
   }
}

.product-info {
   padding: 0 90px;
   padding-top: 44px;
   justify-self: end;
   position: sticky;
   top: 124px;
   overflow-x: hidden;
   overflow-y: auto;
   // height: 800px;
   height: calc(100vh - 211px);
   display: flex;
   flex-direction: column;
   // justify-content: space-between;
   gap: 30px;
   padding-bottom: 30px;

   &_constructor {
      height: calc(100svh - 180px);

      @media(max-height: 960px) and (min-width: 769px) {
         height: calc(100vh - 53px);
      }

      @media(max-height: 900px) and (min-width: 769px) {
         top: 96px;
         height: calc(100vh - 53px);
         gap: 24px;

         .product-info__header {
            padding-bottom: 24px;
         }

         .product-info__main {
            padding-top: 24px;
            padding-bottom: 24px;
            gap: 16px;
         }

         .product-info__footer {
            padding-top: 24px;
            padding-bottom: 24px;
         }
      }

      @media(max-height: 800px) and (min-width: 769px) {
         gap: 16px;

         .product-info__header {
            padding-bottom: 16px;
         }

         .product-info__main {
            padding-top: 16px;
            padding-bottom: 16px;
            gap: 12px;

         }

         .product-info__footer {
            padding-top: 16px;
            padding-bottom: 16px;
         }
      }


      @media(max-height: 700px) and (min-width: 769px) {
         position: relative;
         top: unset;
         height: unset;
         justify-content: unset;
      }
   }

   &::-webkit-scrollbar {
      width: 0;
   }

   &__wrapper {
      max-width: 358px;
   }

   &__header {
      padding-bottom: 40px;
      display: flex;
      flex-direction: column;
      gap: 16px;
   }

   &__main {
      padding-top: 40px;
      padding-bottom: 40px;
      border-top: 1px solid $grey3;
      border-bottom: 1px solid $grey3;
      display: flex;
      flex-direction: column;
      gap: 32px;
   }

   &__footer {
      padding-top: 40px;
      padding-bottom: 40px;
      border-bottom: 1px solid $grey3;
      display: flex;
      flex-direction: column;
      gap: 16px;
   }

   &__favor {
      button {
         width: 100%;
         display: flex;
         align-items: center;
         justify-content: center;
         background-color: $white;
         border: 1px solid $green1;
         transition: 0.3;

         .active {
            display: none;
         }

         .default {
            display: block;
         }

         &:hover {
            background-color: $green1;
         }

         &.active {
            // background-color: $green1;

            .active {
               display: block;
            }

            .default {
               display: none;
            }

            &:hover {
               // background-color: $white;
            }
         }
      }
   }

   &__buy {
      border-bottom: 1px solid $black;
      color: $black;
      font-size: 12px;
      font-weight: 300;
      padding: 4px 0;
      cursor: pointer;
      max-width: fit-content;
   }

   &__tabs {}

   @media(max-width: 1512px) {
      padding: 0 calc(16px + 74 * ((100vw - 768px) / (1512 - 768)));
      padding-top: 44px;
      // padding: 0;
      padding-bottom: 20px;
   }

   @media(max-width: 768px) {
      justify-self: unset;
      padding: 0 16px;
      padding-top: 24px;
      position: relative;
      top: unset;
      height: unset;
      padding-bottom: 0;
      gap: 0;
      overflow-y: unset;
      overflow-x: unset;

      &__wrapper {
         max-width: unset;
      }

      &__header {
         // display: none;
         gap: 18px;
         padding-bottom: 30px;
      }

      &__title {
         font-size: 22px;
      }

      &__main {
         border-top: 0;
         padding: 0;
         padding-bottom: 24px;
         width: 100%;

      }

      &__footer {
         display: none;
      }
   }

   @media(max-height: 950px) and (min-width: 769px) {
      height: calc(100vh - 90px);
      gap: 24px;
      padding-top: 0;
   }

   @media(max-height: 870px) and (min-width: 769px) {
      top: 96px;

      &__header {
         padding-bottom: 24px;
      }

      &__main {
         padding-top: 24px;
         padding-bottom: 24px;
         gap: 16px;
      }

      &__footer {
         padding-top: 24px;
         padding-bottom: 24px;
      }
   }

   @media(max-height: 800px) and (min-width: 769px) {
      gap: 16px;

      &__header {
         padding-bottom: 24px;
      }

      &__main {
         padding-top: 24px;
         padding-bottom: 24px;
         gap: 16px;
      }

      &__footer {
         padding-top: 24px;
         padding-bottom: 24px;
      }
   }

   @media(max-height: 780px) and (min-width: 769px) {
      &__header {
         padding-bottom: 16px;
      }

      &__main {
         padding-top: 16px;
         padding-bottom: 16px;
         gap: 12px;

      }

      &__footer {
         padding-top: 16px;
         padding-bottom: 16px;
      }
   }

   @media(max-height: 680px) and (min-width: 769px) {
      position: relative;
      top: unset;
      height: unset;
      justify-content: unset;
   }
}

.product-size {
   display: flex;
   flex-direction: column;

   &__title {}

   &__list {
      margin-top: 16px;
      margin-bottom: 8px;
      display: flex;
      gap: 16px;
   }

   &__item {
      input {
         display: none;
      }

      label {
         display: block;
         font-size: 12px;
         font-weight: 300;
         color: $black;
         padding: 16px;
         border-radius: 8px;
         border: 1px solid $grey3;
         transition: 0.3s;
         cursor: pointer;

         &:hover {
            border: 1px solid $black;

         }
      }

      input:checked+label {
         border: 1px solid $black;

      }
   }

   &__link {
      font-size: 12px;
      font-weight: 300;
      color: $black;
      border-bottom: 1px solid $black;
      max-width: fit-content;
      padding: 4px 0;
      cursor: pointer;
   }
}

.product-color {
   display: flex;
   flex-direction: column;
   gap: 16px;

   &__title {}

   &__list {
      display: flex;
      gap: 32px;
   }

   &__item {
      input {
         display: none;
      }

      label {
         display: block;
         width: 32px;
         height: 32px;
         flex: 0 0 32px;
         border-radius: 50%;
         border: 3px solid $green1;
         cursor: pointer;
         transition: 0.3s;
      }

      input:checked+label {
         background-color: $green1;
      }
   }
}

.product-gallery {

   &__image {
      img {
         width: 100%;
         height: 100%;
         object-fit: cover;
      }
   }
}

.product-result {

   &__btn {
      display: flex;
      justify-content: space-between;
      padding: 16px;
      border-radius: 8px;
      background-color: $green1;
      color: $black;
      cursor: pointer;
      transition: 0.3s;

      &:hover {
         .product-result {
            &__buy {
               opacity: 1;
            }

            &__title,
            &__price {
               opacity: 0;
            }

         }
      }
   }

   &__buy {
      opacity: 0;
      transition: 0.3s;
   }

   &__title,
   &__price {
      transition: 0.3s;
   }

   &__price {}
}


.product-tabs {

   &__list {
      display: flex;
      align-items: center;
      justify-content: space-between;
   }

   &__link {
      cursor: pointer;
      color: $grey !important;
      transition: 0.3s;

      &:hover {
         color: $black !important;
      }

      &.active {
         color: $black !important;
      }
   }

   &__content {
      position: absolute;
      top: 0;
      left: 100%;
      width: 100%;
      height: 100%;
      transition: 0.3s;
   }

   @media(max-width: 768px) {
      &__list {
         padding-top: 24px;
         border-bottom: 1px solid $grey3;
      }

      &__link {
         position: relative;
         padding: 16px 0;

         &::after {
            content: "";
            position: absolute;
            bottom: -1px;
            left: 0;
            display: block;
            width: 100%;
            height: 1px;
            background-color: $black;
            transform: scale(0);
            transition: 0.3s;
         }

         &.active {
            &::after {
               transform: scale(1);
            }
         }
      }

      &__content {
         position: relative;
         left: unset;
      }
   }
}

// 318 220
.product-tab {
   padding-top: 44px;
   transition: 0.3s;
   position: absolute;
   width: calc(100% + 2px);
   height: 100%;
   top: 0;
   left: 0;
   background-color: #F5F5F5;
   padding-left: 2px;

   overflow-y: auto;
   -ms-overflow-style: none;
   overflow: -moz-scrollbars-none;

   &::-webkit-scrollbar {
      width: 0;
   }

   &.active {
      transform: translateX(-100%);
      z-index: 2;
   }

   &.down-page {
      position: fixed;
      top: 80px;
      left: unset;
      right: -100%;

      @media(max-width: 1512px) {
         padding-top: 44px;
      }

      &.active {
         right: 0;
         transform: translate(0);
      }
   }

   &__header {
      display: flex;
      gap: 8px;
      margin-bottom: 32px;
   }

   &__back {
      cursor: pointer;
   }

   &__content {}

   &__title {
      margin-bottom: 16px;
   }

   &__subtitle {
      margin-bottom: 32px;

      &_delivery {
         display: flex;
         flex-direction: column;
         gap: 16px;

         p {
            display: flex;
            flex-direction: column;
         }

         li {
            list-style: disc;
            list-style-position: inside;
            padding-left: 3px;
         }
      }
   }

   &__list {
      margin-bottom: 32px;

      li {
         list-style: disc;
         list-style-position: inside;
      }
   }

   &__text {
      // display: flex;
      // flex-direction: column;
      color: rgba($color: #000000, $alpha: 0.4) !important;
   }

   .lh {
      line-height: 150%;
   }

   @media(max-width: 1512px) {
      padding-top: 0;
   }

   @media(max-width: 768px) {
      position: relative;
      display: none;
      padding-top: 24px;
      padding-bottom: 24px;
      height: unset;
      width: 100%;
      padding-left: 0;

      &.active {
         transform: translate(0);
         display: block;
         z-index: unset;
      }

      &__header {
         display: none;
      }

      &__subtitle {
         margin-bottom: 16px;
      }

      &__list {
         margin-bottom: 16px;
      }
   }

   @media(max-height: 750px) and (min-width: 769px) {
      padding-top: 0;
   }
}


.product-guide {
   position: fixed;
   top: 80px;
   left: 100%;
   height: calc(100vh - 80px);
   background-color: #F5F5F5;
   transition: 0.3s;
   z-index: 4;
   width: calc(1203 / 1512 * 100%);

   &.show {
      transform: translateX(-100%);
   }

   &__wrapper {
      padding: 40px 58px;
      display: flex;
      flex-direction: column;
      gap: 48px;
   }

   &__header {
      display: flex;
      justify-content: space-between;
      align-items: center;

      &_mobile {
         display: none !important;
      }
   }

   &__title {}

   &__content {}

   &__name {
      margin-bottom: 16px;
   }

   &__row {
      display: flex;
      gap: 48px;
   }

   &__main {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 16px;
   }

   &__table {
      border-top: 1px solid $grey3;
   }

   &__image {
      width: 225px;
      flex: 0 0 225px;

      img {
         width: 100%;
         height: 100%;
         object-fit: cover;
      }
   }

   &__remind {
      color: $grey !important;
   }

   @media(max-width: 1440px) {
      width: 100%;
   }

   @media(max-width: 992px) {
      &__wrapper {
         padding: 24px 16px;
      }
   }

   @media(max-width: 768px) {
      overflow-y: auto;
      top: 53px;
      height: 100dvh;

      &__wrapper {
         padding: 0;
         gap: 0;
         padding-bottom: 50px;
      }

      &__header {
         display: none;

         &_mobile {
            display: flex !important;
            border: 0;
            width: 100%;
            height: unset;
            flex: unset;
            justify-content: flex-start;
            padding: 16px;
            border-bottom: 1px solid $grey3;
            border-radius: 0;
         }
      }

      &__content {
         padding: 16px;
      }

      &__row {
         flex-direction: column;
         align-items: center;
      }

      &__main {
         width: 100%;
         gap: 20px;
      }

      &__table {
         width: 100%;
      }
   }
}

.guide-table {
   display: grid;
   grid-template-columns: repeat(5, 1fr);
   grid-gap: 20px;
   text-align: center;
   justify-content: center;

   &__header {
      padding-top: 20px;
      padding-bottom: 16px;
      border-bottom: 1px solid $grey3;
      grid-column: span 5;
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      grid-gap: 20px;
   }

   &__item {
      padding-bottom: 16px;
      border-bottom: 1px solid $grey3;

   }

   @media(max-width: 375px) {
      grid-gap: calc(10px + 10 * ((100vw - 320px) / (375 - 320)));
   }
}

.constructor-color {
   display: flex;
   flex-direction: column;
   gap: 24px;

   &__item {
      display: flex;
      flex-direction: column;
      gap: 16px;
   }

   &__label {}

   &__input {
      position: relative;

      input {
         padding-right: 77px;
         padding-left: 24px;
         padding-top: 16px;
         padding-bottom: 16px;
         border-radius: 8px;
         border: 1px solid $grey3;
         background: $grey1;
         width: 100%;
      }

      label {
         display: block;
         position: absolute;
         top: 0;
         right: 0;
         height: 100%;
         width: 53px;
         display: flex;
         justify-content: center;
         align-items: center;
         border-left: 1px solid $grey3;
      }
   }

   &__circle {
      width: 21px;
      height: 21px;
      flex: 0 0 21px;
      border-radius: 50%;
   }

   @media(max-width: 768px) {
      gap: 32px;

      &__input {

         input {
            padding-right: 55px;
            padding-left: 16px;
            padding-top: 12px;
            padding-bottom: 12px;
         }

         label {
            width: 39px;
         }
      }

      &__circle {
         width: 15px;
         height: 15px;
         flex: 0 0 15px;
      }
   }
}

.product-shutter {
   display: none;

   @media(max-width: 768px) {
      display: block;
      position: fixed;
      bottom: 0;
      left: 0;
      width: 100%;
      height: auto;
      transition: 0.3s;
      transform: translateY(100%);

      &.show {
         transform: translateY(0);

      }
   }

   &__wrapper {
      border-top: 1px solid $black;
      display: flex;
      flex-direction: column;
      gap: 24px;
      padding: 16px;
      background-color: $white;
   }

   &__header {
      display: flex;
      flex-direction: column;
      gap: 16px;
   }

   &__title {}

   &__subtitle {}

   &__btn {
      flex: 1 0 auto;
   }

   &__footer {
      display: flex;
      flex-direction: column;
      gap: 15px;
   }

   &__btns {
      display: flex;
      gap: 4px;
   }

   &__favor {
      width: 47px;
      height: 47px;
      flex: 0 0 47px;
      border-radius: 8px;
      transition: 0.3s;

      &.active {
         background-color: $black;
      }
   }
}


.product-today {
   position: fixed;
   top: 80px;
   left: 100%;
   // height: calc(100vh - 80px);
   background-color: #F5F5F5;
   transition: 0.3s;
   z-index: 4;
   width: 100%;
   // overflow-y: auto;
   // -ms-overflow-style: none;
   // overflow: -moz-scrollbars-none;

   // &::-webkit-scrollbar {
   //    width: 0;
   // }

   &.show {
      transform: translateX(-100%);
   }

   &__wrapper {}

   &__row {
      display: flex;
   }

   &__image {
      padding: 32px;
      height: calc(100vh - 80px);
      flex: 1 1 auto;
      max-width: calc(900 / 1512 * 100%);

      img {
         width: 100%;
         height: 100%;
         object-fit: cover;
      }
   }

   &__content {
      border-left: 1px solid $grey3;
      padding-top: 64px;
      padding-left: 90px;
      padding-right: 44px;
      padding-bottom: 32px;
      display: flex;
      flex-direction: column;
      gap: 32px;
      height: calc(100vh - 80px);
      overflow-y: auto;
      -ms-overflow-style: none;
      overflow: -moz-scrollbars-none;

      &::-webkit-scrollbar {
         width: 0;
      }
   }

   &__back {
      cursor: pointer;
      max-width: fit-content;
   }

   &__list {
      display: flex;
      flex-direction: column;
      gap: 32px;
      // overflow-y: auto;
      // height: 650px;
   }

   @media(max-width: 992px) {
      &__content {
         padding: 32px;
      }
   }

   @media(max-width: 768px) {
      height: calc(100dvh - 52px);
      top: 52px;

      &__row {
         display: none;
      }

      &__back {
         width: 100%;
         max-width: unset;
      }
   }
}

.today-item {
   display: flex;
   flex-direction: column;
   gap: 8px;

   &__header {}

   &__name {}

   &__main {
      padding-bottom: 8px;
      border-bottom: 1px solid $grey3;
      line-height: 160%;
      font-size: 14px;
      font-weight: 300;
   }

   &__address {
      color: rgba($color: #000, $alpha: 0.4);
   }

   &__schedule {}

   &__footer {}

   &__sizes {
      font-size: 14px;
      font-weight: 300;
      color: $black;
   }

   @media(max-width: 768px) {
      padding: 12px 15px;
      border: 1px solid $grey3;
      border-radius: 8px;
      transition: 0.3s;

      &.active {
         border: 1px solid $green1;

      }

      &__main {
         border-bottom: 0;
         padding: 0;
      }
   }
}