.home-arrival {

   &__header {
      padding: 24px 32px;
      display: flex;
      align-items: center;
      justify-content: space-between;
   }

   &__title {
      color: $black;
   }

   &__btn {
      color: $black;
      font-weight: 300;
      font-size: 12px;
      background-color: transparent;
      transition: 0.3s;

      &:hover {
         color: #067960;
      }
   }

   @media(max-width: 768px) {
      &__header {
         padding: 16px;
      }
   }
}


.arrival-slider {

   &__btn {

      &_prev,
      &_next {
         display: none;
      }
   }

   @media(max-width: 768px) {
      &__btn {

         &_prev,
         &_next {
            display: block;
            width: 14px;
            height: 20px;

            &::after {
               display: none;
            }
         }

         &_prev {}

         &_next {}
      }
   }
}

.arrival-slide {
   border: 1px solid $grey3;
   border-left: 0;
   transition: 0.3s;
   // border: 1px solid #d7d7d7;
   // margin-left: -1px;

   &::before {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 1px;
      height: 100%;
      background-color: transparent;
      transition: 0.3s;
      z-index: 2;
   }

   // &:first-child {
   //    margin-left: 0px;
   // }

   &:hover {
      border: 1px solid $black;
      border-left: 0;

      &::before {
         background-color: $black;
      }

      .product-card__colors {
         opacity: 1;
      }

      .product-card__like {
         opacity: 1;
         pointer-events: all;
      }
   }

   &__image {
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      z-index: 1;

      img {
         width: 100%;
         height: 100%;
         object-fit: cover;
      }
   }

   &__content {
      display: flex;
      flex-direction: column;
      gap: 8px;
      padding: 32px;
      padding-top: 0;
   }

   &__title {}

   &__price {
      color: $grey;
      font-size: 12px;
   }

   @media(max-width: 450px) {
      &__content {
         gap: 4px;
         padding: 16px;
      }

      &__price {
         font-size: 8px;
      }
   }
}